#
# This source file is part of the Heartwood open-source project
#
# SPDX-FileCopyrightText: 2026 Stanford University and the project authors (see CONTRIBUTORS.md)
#
# SPDX-License-Identifier: MIT
#

.coverage
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
__pycache__/
coverage.xml
dist/
*.egg-info/
*.py[cod]
